/* Utilities */
.clearfix:after { 
  content: "."; 
  visibility: hidden; 
  display: block; 
  height: 0; 
  clear: both;
}

/* Main styles */
body {
  text-align: center;
  margin: 0;
  background-color: #002d2d;
}

.App {
  margin: 0 auto;
  width: 95%;
  text-align: left;
  background-color: #fff;

  header {
    background-color: #d52b1e;
    padding: 15px 10px;
    margin: 0;

    h1 {
      font-size: 1.5em;
      color: #fff;
      margin-top: 0;
    }

    nav {
      &:after {
        content: "";
        display: table;
        clear: both;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          float: left;
          padding-right: 15px;

          a {
            color: #fff;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  main {
    padding: 10px;

    section {
      margin: 0;
      padding: 10px 0;
      float: left;

      &:nth-of-type(1) {
        width: 70%;
      }

      &:nth-of-type(2) {
        width: 30%;
      }

      h2 {
        margin-top: 0;
      }

      .intro,
      .about,
      .pastWork,
      .contact {
        padding: 0 15px;
      }
    }
  }

  footer {
    margin: 50px 0;
    background-color: blanchedalmond;
    padding: 2px 10px;

    p {
      font-size: 0.9em;
    }
  }
}
