@use "settings";

// Make rem units base 10
html {
  font-size: 62.5%;
}

body {
  font-family: settings.$baseFont;
  font-size: settings.$medium;
  text-align: center;
  margin: 0;
  background-color: #002d2d;
}

code {
  font-family: settings.$codeFont;
  font-size: settings.$small;
}

/* Utilities */
.clearfix:after { 
  content: "."; 
  visibility: hidden; 
  display: block; 
  height: 0; 
  clear: both;
}